@{
  Layout = "_Layout";
}

@model HairSalons.Models.Stylist

<h4>Add a new Stylist</h4>

<p><strong>NOTE:</strong> You need to have at least one Client before you can add a Stylist!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Clients") to create a Client.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Client)
  @Html.DropDownList("ClientId")

  <input type="submit" value="Add new stylist" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>